<section class="videos-page">

  <h1>Videos</h1>

  <div class="videos-grid">
    <% @videos.each do |video| %>
      <div class="video-card">

        <iframe
          class="youtube-video"
          src="<%= youtube_embed(video) %>"
          frameborder="0"
          allowfullscreen>
        </iframe>

        <h4><%= video.title %></h4>

      </div>
    <% end %>
  </div>

</section>