<footer class="footer">
  <span>© <%= Time.current.year %> Pickled Pirates Racing</span>
  <span class="footer-sep">|</span>
  <span id="author"><a href="https://www.getawd.com" target="_blank">getawd.com</a></span>
</footer>
