<nav>
  <%= image_tag "logo.png", class: "nav-img", alt: "Pickled Pirates Racing" %>

  <%= link_to "Home", root_path %> |
  <%= link_to "Products", products_path, data: { turbo: false } %>
</nav>

<hr class="nav-hr">