.footer {
  box-sizing: border-box;
  text-align: center;
  color: black;
  padding: 1em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  border-top: 1px solid #ccc;
  background: #f0f0f0;
}

.footer #author {
  margin-left: 2px;
}

.footer a {
  text-decoration: none;
  color: black;
}
